{% extends 'account/base.html' %}
{% load static %}

{% block content %}
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">Our Work</h1>
                        <p class="lead fw-normal text-muted mb-0">Company portfolio</p>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
<!--                                <img class="img-fluid rounded-3 mb-3" src="media/image/benz.jpeg" width="60" height="45" alt="..." />-->
                                <div class="feature bg-success bg-gradient text-white rounded-3 mb-3"><i class="bi bi-people"></i></div>
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">BluWire Intergrated</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-5">
<!--                                <img class="img-fluid rounded-3 mb-3" src="media/image/Bugati.jpeg" width="60" height="45" alt="..." />-->
                                <div class="feature bg-success bg-gradient text-white rounded-3 mb-3"><i class="bi bi-people"></i></div>
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">ONICU</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mb-5 mb-lg-0">
<!--                                <img class="img-fluid rounded-3 mb-3" src="media/image/ferrai.jpeg" width="60" height="45" alt="..." />-->
                                <div class="feature bg-success bg-gradient text-white rounded-3 mb-3"><i class="bi bi-people"></i></div>
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">SNP Fair</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative">
<!--                                <img class="img-fluid rounded-3 mb-3" src="media/image/Amine.jpeg" width="60" height="45" alt="..." />-->
                                <div class="feature bg-success bg-gradient text-white rounded-3 mb-3"><i class="bi bi-people"></i></div>
                                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">TheListena</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                    <aside class="bg-success bg-gradient rounded-3 p-4 mt-5">
                        <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                            <div class="mb-4 mb-xl-0">
                                <h1 class="display-4 fw-bolder mb-4">Let's build something together.</h1>
                                <a class="btn btn-lg btn-outline-light" href="#!">Contact us</a>
                            </div>
                        </div>
                    </aside>
<!--            <section class="bg-success bg-gradient rounded-3 p-4 mt-5">-->
<!--                <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">-->
<!--                    <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>-->
<!--                    <a class="btn btn-lg btn-outline-light" href="#!">Contact us</a>-->
<!--                </div>-->
<!--            </section>-->
        <!-- Footer-->
 {% endblock %}